html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f2f2f2;
}

form {
  margin: 0;
  padding: 0;
}

.ReactCodeMirror,
.CodeMirror {
  width: 100%;
  height: 100%;
}

.CodeMirror,
#textarea {
  font-size: 12px;
  font-family: 'Consolas', 'Menlo', monospace;
}

#textarea {
  width: 100%;
  height: 100%;
  border: 0;
  color: #f8f8f2;
  background: #272822;
  padding: 3px;
  padding-left: 33px;
  box-sizing: border-box;
}

.draggable {
  cursor: move;
}

#main {
  display: block;
  position: absolute;
  height: auto;
  top: 0;
  bottom: 45px;
  left: 0;
  right: 0;
}

#editor {
  width: 50%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding-bottom: 44px;
}

#container {
  width: 50%;
  float: right;
}

#documentation {
  float: left;
  position: fixed;
  top: 0;
  overflow: auto;
  height: 100%;
}

#toolbar,
#editor-toolbar {
  width: 50%;
  position: fixed;
  bottom: 0;
  z-index: 2;
  background: black;
}

#toolbar {
  right: 0;
}

#editor-toolbar {
  left: 0;
}

#toolbar .button,
#editor-toolbar .button {
  color: white;
  font-size: 12px;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  background-color: #22cc88;
  border-radius: 4px;
  border: 0;
  display: block;
  float: right;
  margin: 10px;
  padding: 5px 25px;
  text-decoration: none;
  cursor: pointer;
}

#editor-toolbar .text {
  font-size: 11px;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  padding: 5px;
  margin: 10px;
}

#editor-toolbar .button,
#editor-toolbar .text {
  display: block;
  float: left;
}

.dual-pane #documentation {
  display: none;
}

.three-pane #documentation,
.three-pane #toolbar,
.three-pane #container {
  width: 33%;
}

.three-pane #editor,
.three-pane #editor-toolbar {
  width: 34%;
  left: 33%;
}

#browse {
  position: absolute;
  min-width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background: #272822;
}

.preview-container {
  height: 100%;
  display: inline-block;
  position: relative;
}

.folder-container {
  max-width: 300px;
  float: left;
  height: 100%;
}

.folder {
  margin: 20px;
}

.preview {
  width: 150px;
  height: 100%;
  -ms-zoom: 0.25;
  -moz-transform: scale(0.25);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.25);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.25);
  -webkit-transform-origin: 0 0;
  opacity: 0.75;
}

.preview iframe {
  border: 0;
  width: 600px;
  height: 400%;
}

.preview-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  z-index: 100;
}

.preview-link:hover + .preview {
  opacity: 1;
}

/* credits for folders go to https://github.com/jlizanab/FFolders/tree/master/css */

.ffolder {
  position: relative;
  display: inline-block;
  text-align: center;
}

.ffolder.small {
  margin-top: 8px;
  width: 88px;
  height: 61px;
  border-radius: 0px 6px 6px 6px;
}

.ffolder.medium {
  margin-top: 16px;
  width: 176px;
  height: 122px;
  border-radius: 0px 10px 10px 10px;
}

.ffolder.big {
  margin-top: 24px;
  width: 264px;
  height: 183px;
  border-radius: 0px 14px 14px 14px;
}

.ffolder:before {
  content: '';
  display: block;
  position: absolute;
}

.ffolder:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
}

.ffolder.small:before {
  top: -8px;
  left: 0;
  width: 32px;
  height: 8px;
  border-radius: 6px 0px 0px 0px;
}

.ffolder.small:after {
  top: -16px;
  left: 24px;
  border: 8px solid transparent;
}

.ffolder.medium:before {
  top: -16px;
  left: 0;
  width: 64px;
  height: 16px;
  border-radius: 10px 0px 0px 0px;
}

.ffolder.medium:after {
  top: -32px;
  left: 48px;
  border: 16px solid transparent;
}

.ffolder.big:before {
  top: -24px;
  left: 0;
  width: 96px;
  height: 24px;
  border-radius: 14px 0px 0px 0px;
}

.ffolder.big:after {
  top: -48px;
  left: 72px;
  border: 24px solid transparent;
}

.ffolder span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ffolder span {
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 15px;
  white-space: nowrap;
}

.ffolder.cyan {
  background-color: #23cbf4;
}
.ffolder.cyan:before,
.ffolder.cyan span {
  background-color: #06baee;
}
.ffolder.cyan:after {
  border-bottom-color: #06baee;
}
.ffolder.cyan span {
  color: #ffffff;
}
.ffolder.cyan i {
  color: #06baee;
}
